@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F7FFF7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.form-container {
    width: 40%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4ECDC4;
    font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

button:first-child {
    
    color: white;
}

button:last-child {
  
    color: white;
}

button:hover {
    opacity: 0.8;
}


.table-container {
    width: 55%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    background: #ff6b6b;
    color: white;
    padding: 12px;
    
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.table-container table {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}
